.text {
    font-weight: bolder;
    margin-top: 50px;
}

.text2 {
    margin-top: 4px;
}

.text3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.label {
    display: flex;
    margin-top: 10px;
    margin-bottom: 5px;
    gap: 1rem;
}

.edit {
    font-size: small;
    background-color: white;
    color: rgba(255, 136, 52, 1);
    border: white;
    height: 30px;
    margin-bottom: 10px;
}

.edit:focus {
    background-color: white;
    outline: none;
    color: rgba(255, 136, 52, 1);
}

.edit:hover {
    background-color: white;
    color: rgba(255, 136, 52, 1);
}

.Hapus {
    font-size: small;
    background-color: white;
    color: rgba(255, 136, 52, 1);
    border: white;
    height: 30px;
    /* margin-bottom: 10px; */
}

.Hapus:focus {
    background-color: white;
    outline: none;
    color: rgba(255, 136, 52, 1);
}

.Hapus:hover {
    background-color: white;
    color: rgba(255, 136, 52, 1);
}

.box {
    border: 2px solid black;
    margin-bottom: 25px;
}