.text {
    font-weight: bolder;
    margin-top: 50px;
}

.text2 {
    margin-top: 4px;
}

.text3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.text4 {
    margin-bottom: 15px;
    margin-top: 8px;
    text-align: center;
}

.text5 {
    color: black;
    margin-bottom: 5px;
    text-decoration: none;
}

.text5:hover {
    color: rgba(255, 136, 52, 1);
}

.label {
    display: flex;
    margin-top: 10px;
    margin-bottom: 5px;
    gap: 1rem;
}

.edit {
    font-size: small;
    background-color: white;
    color: rgba(255, 136, 52, 1);
    border: white;
    height: 30px;
    margin-bottom: 10px;
}

.edit:focus {
    background-color: white;
    outline: none;
    color: rgba(255, 136, 52, 1);
}

.edit:hover {
    background-color: white;
    color: rgba(255, 136, 52, 1);
}

.Hapus {
    font-size: small;
    background-color: white;
    color: rgba(255, 136, 52, 1);
    border: white;
    height: 30px;
    /* margin-bottom: 10px; */
}

.Hapus:focus {
    background-color: white;
    outline: none;
    color: rgba(255, 136, 52, 1);
}

.Hapus:hover {
    background-color: white;
    color: rgba(255, 136, 52, 1);
}

.box {
    border: 2px solid black;
    margin-bottom: 8px;
}

.bag {
    justify-content: space-between;
    display: flex;
    margin-bottom: 20px;
}

.det {
    display: flex;
}

.space8 {
    margin-left: 5px;
}

.space9 {
    margin-left: 10px;
}

.space10 {
    margin-bottom: 5px;
}

.space11 {
    margin-left: 10px;
    margin-top: 3px;
}